
body{
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--XjWirOW8--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/arasur0jjdbqabgl69xr.png");
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header{
  display: flex;
  color:white;
  justify-content: space-between;
  
}
.Hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  
  
}


