@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--XjWirOW8--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/arasur0jjdbqabgl69xr.png");
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header{
  display: flex;
  color:white;
  justify-content: space-between;
  
}
.Hero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.Hero-autoTexts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;  
}
.welcome{
  display:flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  height: 45px;
  width: 280px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(3, 142, 139) 38%, rgb(1, 60, 49) 100%);
 

}
.Hero-rightSection{
  background-image: url("https://semidotinfotech.com/web/images/FullStackDevelopmentCompany.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 4%;
}

@media (max-width: 968px) {

  .Hero{
  
  grid-template-columns: 1fr;
  
  
}
}