/* Nav */
.nav-desktop{
    position: fixed;
    top:2%;
    right: 2%; 
    font-size: 1.4rem;
}
ul{
  display: flex;
  justify-content: center;
  gap:1.2rem;
  list-style: none;
  text-decoration: none ;
}

.fa-bars {
    display: none;
    color: rgb(2, 210, 158);
  }

.nav-link{
    color:rgb(0, 188, 151);
    padding: .3em;
   font-weight: 600;
}
.nav-link:hover{
     background-color: rgb(89, 4, 4);
    transition: .4s ease-out;
    padding: 1m;
    border-bottom: rgb(116, 0, 0) solid 1px;
    border-radius: 9px;
}
/* Define media queries for different screen sizes */
@media (max-width: 968px) {
  .fa-bars {
    display: block;
    position: absolute;
    top:5%;
    right: 5%;
  }
  .nav-desktop{
    display: none;
  }
  .nav-responsive{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    text-transform: capitalize;
    background-color: rgb(24, 0, 52);
    width: 100vw;
    height: 100vh;
    font-size: 1.7rem;
  }
 
  
}